@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

body {
  height: 100vh;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img, button {
  cursor: pointer;
}

.aside {
  width: 245px;
  height: 100vh;
  position: fixed;
  left: 0;
  background-color: #242431;
  padding: 25px 0 25px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.aside-logo {
  margin-bottom: 20px;
}

.aside-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
}

.aside-menu ul {
  width: 100%;
}

.aside-menu ul li {
  cursor: pointer;
  padding: 0.9rem;
  border-radius: 30px 0 0 30px;
  margin-bottom: 0.2rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.aside-menu ul li span {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 400;
  color: #c5caf6;
}

.aside-menu ul li.active {
  background: #13141c;
}

.aside-menu ul li:hover {
  background: rgba(19, 20, 28, 0.3);
}

.main {
  width: calc(100% - 245px);
  margin-left: 245px;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.main-body {
  padding: 30px 25px 25px 25px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: 1 / 1 / 2 / 6;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#30233e), color-stop(#2b233b), color-stop(#282337), color-stop(#242333), color-stop(#22222e), color-stop(#22222e), color-stop(#21232e), color-stop(#21232e), color-stop(#222533), color-stop(#262949), color-stop(#262949), to(#262949));
  background-image: linear-gradient(to right top, #30233e, #2b233b, #282337, #242333, #22222e, #22222e, #21232e, #21232e, #222533, #262949, #262949, #262949);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.main-body-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.main-body-header .search {
  position: relative;
  overflow: hidden;
}

.main-body-header .search input {
  border-radius: 30px;
  outline: none;
  border: none;
  height: 100%;
  width: 100%;
  background: #262837;
  padding: 0.75rem;
  padding-right: 2.5rem;
  color: #c5caf6;
  font-weight: 400;
}

.main-body-header .search input::-webkit-input-placeholder {
  color: #c5caf6;
  font-weight: 400;
}

.main-body-header .search input:-ms-input-placeholder {
  color: #c5caf6;
  font-weight: 400;
}

.main-body-header .search input::-ms-input-placeholder {
  color: #c5caf6;
  font-weight: 400;
}

.main-body-header .search input::placeholder {
  color: #c5caf6;
  font-weight: 400;
}

.main-body-header .search img {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  right: 10px;
}

.main-body-header .watch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px;
  padding: 0.75rem;
  background: #262837;
}

.main-body-header .watch span {
  color: #c5caf6;
  font-weight: 400;
  margin-left: 10px;
}

.main-body-banner {
  position: relative;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.main-body-banner .banner {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.main-body-banner .banner-div {
  width: 100%;
  position: absolute;
  bottom: 0;
  background: #252736;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}

.main-body-banner .banner-div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-body-banner .banner-div div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 10px;
}

.main-body-banner .banner-div div div h2 {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.main-body-banner .banner-div div div p {
  color: #c5caf6;
  font-size: 12px;
  font-weight: 400;
}

.main-body-banner .banner-div button {
  border: 2px solid #0088ff;
  color: #0088ff;
  font-weight: 500;
  padding: 0.6rem;
  background: transparent;
  border-radius: 30px;
}

.main-aside {
  background: #292a33;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 6;
  -ms-grid-column-span: 2;
  grid-area: 1 / 6 / 2 / 8;
}
/*# sourceMappingURL=style.css.map */