@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");

$indigo: #242431;
$dark: #13141c;
$white: #fff;
$gray: #c5caf6;
$blue: #0088ff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}
body {
  height: 100vh;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img, button{
  cursor: pointer;
}

.aside {
  width: 245px;
  height: 100vh;
  position: fixed;
  left: 0;
  background-color: $indigo;
  padding: 25px 0 25px 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  &-logo {
    margin-bottom: 20px;
  }
  &-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    ul {
      width: 100%;
      li {
        cursor: pointer;
        padding: 0.9rem;
        border-radius: 30px 0 0 30px;
        margin-bottom: 0.2rem;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        transition: 0.3s ease;
        span {
          margin-left: 10px;
          font-size: 16px;
          font-weight: 400;
          color: $gray;
        }
      }
      li.active {
        background: $dark;
      }
      li:hover {
        background: rgba($color: $dark, $alpha: 0.3);
      }
    }
  }
}

.main {
  width: calc(100% - 245px);
  margin-left: 245px;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  &-body {
    padding: 30px 25px 25px 25px;
    grid-area: 1 / 1 / 2 / 6;
    background-image: linear-gradient(
      to right top,
      #30233e,
      #2b233b,
      #282337,
      #242333,
      #22222e,
      #22222e,
      #21232e,
      #21232e,
      #222533,
      #262949,
      #262949,
      #262949
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    &-header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;

      .search {
        position: relative;
        overflow: hidden;
        input {
          border-radius: 30px;
          outline: none;
          border: none;
          height: 100%;
          width: 100%;
          background: #262837;
          padding: 0.75rem;
          padding-right: 2.5rem;
          color: $gray;
          font-weight: 400;
          &::placeholder{
            color: $gray;
                    font-weight: 400;
          }
        }
        img {
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
          right: 10px;
        }
      }
      .watch {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        padding: 0.75rem;
        background: #262837;
        span{
            color: $gray;
            font-weight: 400;
            margin-left: 10px;
        }
      }
    }
    &-banner{
        position: relative;
        width: 100%;
        border-radius: 5px;
        overflow: hidden;
        .banner{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        .banner-div{
            width: 100%;
            position: absolute;
            bottom: 0;
            background: #252736;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
            div{
                display: flex;
                justify-content: center;
                align-items: center;
                div{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin-left: 10px;
                    h2{
                        color: $white;
                        font-size: 14px;
                        font-weight: 500;
                    }
                    p{
                        color: $gray;
                        font-size: 12px;
                        font-weight: 400;
                    }
                }
            }
            button{
                border: 2px solid $blue;
                color: $blue;
                font-weight: 500;
                padding: 0.6rem;
                background: transparent;
                border-radius: 30px;
            }
        }
    }
    &-title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin: 30px 0 20px 0;
        h2{
            color: $white;
            font-weight: 600;
            font-size: 24px;
        }
        h4{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                margin-bottom: -8px;
            }
            span{
                margin-left: 4px;
                color: $gray;
                font-weight: 500;
                font-style: 16px;
            }
        }
    }
    &-cards{
        width: 100%;
        grid-gap: 15px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
        .card{
            position: relative;
            border-radius: 5px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            & > img{
                height: 160px;
                object-fit: cover;
            }
            button{
                position: absolute;
                background: #FBC918;
                top: 10px;
                right: 10px;
                padding: .25rem 0.5rem;
                border-radius: 5px;
                border: none;
                color: #000;
                font-weight: 500;
                font-size: 13px;
            }
            &-body{
                background: #101118;
                padding: 10px;
                h1{
                    color: $white;
                    font-size: 20px;
                    font-weight: 400;
                    margin-bottom: 10px;
                }
                &-footer{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    li{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        span{
                            color: $white;
                            margin-left: 5px;
                            font-size: 13px;
                            color: $gray;
                        }
                    }
                }
            }
        }
    }
  }
  &-aside {
    background: #292a33;
    grid-area: 1 / 6 / 2 / 8;
  }
}
